* {
    box-sizing: border-box;
}
body {
    background-image: url(../img/bgBlue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.res {
    color: blue;
    font-weight: bold; 
    font-size: 40px;
    font-family: ;
    height: 50px;
}

.game {
    width: 720px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    outline: 3px solid #ffffff;
}

.field {
    width: 240px;
    height: 240px;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.new-game {
    border: none;
    color: #fff;
    background: green;
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.active {
    background: rgba(0, 255, 0, 0.5);
}